h2 {
    position: relative;
    left: 20px;
}

.container1 {
    display: grid; 
    grid-template-columns: 40% 40% 40%;
    padding-left: 150px;
}

body {
    background-image: url(/images/background.png);
    width:80%; 
}

#footerPlaceholder {
    position:relative;
    width: 125%;
    top: 25px;
}

#navbarPlaceholder {
    position:relative;
    width: 125%;
}