body {
    background-image: url(/images/background.png);
}

#main {
    grid-area: main;
    margin-top: 10%;
}

.logo {
    grid-area: logo;
    height: 100%;
    width: 110%;
    margin-left: 30%;
}

#container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo logo main main";
}

