#login-anchor {
    background-color: transparent;
    border: none;
}

body {
    background-image: url(/images/background.png);
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
