#login-anchor {
    background-color: transparent;
    border: none;
}

body {
    background-image: url(/images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
