body {
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.carousel {
    width: 100vw;
    height: 100vh;
    position: relative;
    
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacitiy ease-in-out;
    transition-delay: 200ms;
}

.slide > div {
    display: block;
    width: 30%;
    height: 30%;
    object-fit: cover;
    object-position: center;
    margin: auto;
}

.slide[data-active] {
    opacity: 1;
    transition-delay: 0;
}

.carousel-button {
    position: absolute;
    background: none;
    border: none;
    width: 5%;
    font-size: 4rem;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(255, 255, 255, .5);
    border-radius: .25rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover, .carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .3);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}
.carousel-button.next {
    right: 1rem;
}

#container {
    padding-top: 5%;
    display: grid;
    width: 80%;
    height: 100vh;
    grid-template-rows: 1fr 1fr 0.1fr 0.2fr;
    grid-template-columns: 1fr 1fr 0.1fr 1fr;
    grid-template-areas: "heading heading video video video "
                        "banner banner banner banner banner"
                        "carousel carousel carousel carousel carousel"
                        "footer footer footer footer footer";
    align-content: space-between;
    text-align: center;
    grid-gap: 18px;
    margin-top: 5%;
    padding-bottom: 0;
    padding-right: 3%;

}

#carousel-section {
    grid-area: carousel;
    padding-top: 30%;
}

#navbarPlaceholder {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

#footer {
    grid-area: footer;
}

#footerPlaceholder {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    transform: translateY(20%);
    z-index: 2;
}
#video {
    grid-area: video;
}

#heading {
    grid-area: heading;
    text-align: left;
}

#banner {
    grid-area: banner;
}

#bannerimg {
    width: 100%;
    height: 100%
}


#card1 {
    grid-area: card1;
    background: rgb(225, 247, 255);
    background: radial-gradient(circle, rgba(222, 251, 255, 0.902) 0%, rgb(90, 167, 197) 100%);
    border-radius: 30%;
    box-shadow: 10px 10px rgb(186, 207, 212);
}

#card2 {
    grid-area: card2;
    background: rgb(225, 247, 255);
    background: radial-gradient(circle, rgba(222, 251, 255, 0.902) 0%, rgb(90, 167, 197) 100%);
    border-radius: 30%;
    box-shadow: 10px 10px rgb(186, 197, 212);
}

#card3 {
    grid-area: card3;
    background: rgb(225, 247, 255);
    background: radial-gradient(circle, rgba(222, 251, 255, 0.902) 0%, rgb(90, 167, 197) 100%);
    border-radius: 30%;
    box-shadow: 10px 10px rgb(186, 197, 212);
}

#card4 {
    grid-area: card4;
    background: rgb(225, 247, 255);
    background: radial-gradient(circle, rgba(222, 251, 255, 0.902) 0%, rgb(90, 167, 197) 100%);
    border-radius: 30%;
    box-shadow: 10px 10px rgb(186, 197, 212);
}

#card5 {
    grid-area: card5;
    background: rgb(225, 247, 255);
    background: radial-gradient(circle, rgba(222, 251, 255, 0.902) 0%, rgb(90, 167, 197) 100%);
    border-radius: 30%;
    box-shadow: 10px 10px rgb(186, 197, 212);
}

#card6 {
    grid-area: card6;
    background: rgb(225, 247, 255);
    background: radial-gradient(circle, rgba(222, 251, 255, 0.902) 0%, rgb(90, 167, 197) 100%);
    border-radius: 30%;
    box-shadow: 10px 10px rgb(186, 197, 212);
}

#card7 {
    grid-area: card7;
    background: rgb(225, 247, 255);
    background: radial-gradient(circle, rgba(222, 251, 255, 0.902) 0%, rgb(90, 167, 197) 100%);
    border-radius: 30%;
    box-shadow: 10px 10px rgb(186, 197, 212);
}

#card8 {
    grid-area: card8;
    background: rgb(225, 247, 255);
    background: radial-gradient(circle, rgba(222, 251, 255, 0.902) 0%, rgb(90, 167, 197) 100%);
    border-radius: 30%;
    box-shadow: 10px 10px rgb(186, 197, 212);
}

#card9 {
    grid-area: card9;
    background: rgb(225, 247, 255);
    background: radial-gradient(circle, rgba(222, 251, 255, 0.902) 0%, rgb(90, 167, 197) 100%);
    border-radius: 30%;
    box-shadow: 10px 10px rgb(186, 197, 212);
}

#card10 {
    grid-area: card10;
    background: rgb(225, 247, 255);
    background: radial-gradient(circle, rgba(222, 251, 255, 0.902) 0%, rgb(90, 167, 197) 100%);
    border-radius: 30%;
    box-shadow: 10px 10px rgb(186, 197, 212);
}

#card11 {
    grid-area: card11;
    background: rgb(225, 247, 255);
    background: radial-gradient(circle, rgba(222, 251, 255, 0.902) 0%, rgb(90, 167, 197) 100%);
    border-radius: 30%;
    box-shadow: 10px 10px rgb(186, 197, 212);
}

#card12 {
    grid-area: card12;
    background: rgb(225, 247, 255);
    background: radial-gradient(circle, rgba(222, 251, 255, 0.902) 0%, rgb(90, 167, 197) 100%);
    border-radius: 30%;
    box-shadow: 10px 10px rgb(186, 197, 212);
}

#card13 {
    grid-area: card13;
    background: rgb(225, 247, 255);
    background: radial-gradient(circle, rgba(222, 251, 255, 0.902) 0%, rgb(90, 167, 197) 100%);
    border-radius: 30%;
    box-shadow: 10px 10px rgb(186, 197, 212);
}

#card14 {
    grid-area: card14;
    background: rgb(225, 247, 255);
    background: radial-gradient(circle, rgba(222, 251, 255, 0.902) 0%, rgb(90, 167, 197) 100%);
    border-radius: 30%;
    box-shadow: 10px 10px rgb(186, 197, 212);
}

#card15 {
    grid-area: card15;
    background: rgb(225, 247, 255);
    background: radial-gradient(circle, rgba(222, 251, 255, 0.902) 0%, rgb(90, 167, 197) 100%);
    border-radius: 30%;
    box-shadow: 10px 10px rgb(186, 197, 212);
}


@media only screen and (max-width: 700px) {
    body {
        overflow-x: hidden;
        margin: 0;
        overflow-y: hidden
    }
    #container {
        padding-top: 15%;
        overflow-x: hidden;
        margin-right: 10%;
        width: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 0.1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "heading"
        "video"
        "banner"
        "carousel"
        "footer";
    }

    #video {
        width: 80%;
        margin: auto;
    }
    #video > iframe {
        width: 100%;
        padding-right: 5%;
    }

    #banner {
        padding: 0;
    }

    #heading {
        padding: 0%;
    }
    #heading > p, #heading > figure{
        width: 80%;
        margin: auto;
        padding-left: 5%;
    }

    .carousel-button {
        width: 13%;
        top: 15%;
    }
    .carousel-button.carousel-button.next{
        margin-right: 1%;
    }

    .slide > div {
        width: 50%;
        padding-top: 0%;
        margin-top: 0;   
    }

    .slide {
        padding-top: 0%;
        margin-top: 0;
    }

    #carousel-section {
        padding-top: 0;
        margin-bottom: 0;
        margin: auto;
    }
}


