body {
    background-image: url(/images/background.png);
}


body {
    background-color: #fff;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Montserrat', sans-serif;
        font-weight: bolder;
    };


a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a,
a:hover {
    text-decoration: none !important;
}

.content {
    padding: 7rem 0;
}

h2 {
    font-size: 3.5rem;
    font-weight: bolder;
}

h3 {
    font-size: 2rem;
    font-weight: bolder;
}

#submit {
    font-weight: bolder;
    color: #fff;
    padding-top: 2%;
    border-radius: 15px;
}

.form-control {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
}

.btn,
.form-control {
    height: 55px;
}

form.border-right {
    padding-right: 6rem !important;
}

#footerPlaceholder {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    transform: translateY(20%);
    z-index: 2;
}

#begin {
    color:#fff;
    font-weight: bolder;
    padding-top: 2%;
    border-radius: 20px;

}

@media (max-width: 991.98px) {
    form.border-right {
        padding-right: 0 !important;
        border-right: none !important;
    }
}
