#firebaseui-auth-container {
    align-content: left;
    display: flex;
}

body {
    background-image: url(/images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#footerPlaceholder {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    transform: translateY(20%);
    z-index: 2;
}